<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Product Form</title>
</head>
<body>

	<div class="col-xs-12" ng-form="productform">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">@</span> <input
				type="text" class="form-control" placeholder="Product Name"
				aria-describedby="basic-addon1" ng-model="ProductVO.productName" required ng-maxlength="50" name="pname">
				<span ng-show="productform.pname.$error.required">This
							is required.</span>
		</div>
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">@</span> <input
				type="text" class="form-control" placeholder="Product category"
				aria-describedby="basic-addon1" ng-model="ProductVO.category" required name="pcategory">
				<span ng-show="productform.pcategory.$error.required">This
							is required.</span>
		</div>
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">@</span> <input
				type="number" class="form-control" placeholder="Available Quantity"
				aria-describedby="basic-addon1" ng-model="ProductVO.availableQuantity" required name="quantity">
				<span ng-show="productform.quantity.$error.required">This
							is required.</span>
		</div>
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">@</span> <input
				type="number" class="form-control" placeholder="Price"
				aria-describedby="basic-addon1" ng-model="ProductVO.price" required nam="price">
				<span ng-show="productform.price.$error.required">This
							is required.</span>
		</div>
		 <button type="button" class="btn btn-success" ng-click="saveProduct(ProductVO)">Submit</button>
	</div>



</body>
</html>