<div class="container">
	<div class="row">
		<div class="col-md-4" id="AuthController">
			<div ng-form="LoginForm" class="panel panel-default">
				<div class="panel-heading">Welcome To Ecommerce</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="emailId">Email</label> <input required ng-minlength="5"
							type="username" class="form-control" id="username" name="username"
							ng-model="userVO.username" placeholder="Enter Email">
							<div ng-show="LoginForm.username.$touched">
						      <span ng-show="LoginForm.username.$error.required">This field is required.</span>
						       <span ng-show="LoginForm.username.$error.minLength">This field too short.</span>
						    </div>
					</div>
					<br />
					<div class="form-group">
						<label for="inputPassword">Password</label> <input required
							type="password" class="form-control" id="inputPassword" name="inputPassword"
							ng-model="userVO.password" placeholder="Password">
							<div ng-show="LoginForm.inputPassword.$touched">
						      <span ng-show="LoginForm.inputPassword.$error.required">This field is required.</span>
						    </div>
					</div>
					<div class="md-margin"></div>
					<button class="btn btn-success" type="button"
						title="Click to signin" ng-click="loginUser(userVO)">Log
						In</button>
					<a class="btn btn-success" ui-sref="register"
						title="Click to register">Register</a>
					<div class="md-margin"></div>
					<a ui-sref="forgotPwd" title="Get Password">Forgot Password</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a ui-sref="verifyuser" title="verify">Activate Account</a>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="md-margin"></div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Ecommerce</h3>
				</div>
				<div class="panel-body">
					<ul class="a">
						<li>Ecommerce is powerful Collaborative platform for Photo
							Studio users!</li>
						<li>It Helps Employer To evaluate different Payers quality of
							care.</li>
						<li>It is all about effectiveness of care and provides
							business key indicators for health plans.</li>
						<li>Ecommerce include :
							<ul class="b">
								<li>Effectiveness of care</li>
								<li>Access/Availability of care</li>
								<li>Satisfaction with the experience of care</li>
								<li>Use of services</li>
								<li>Cost of care</li>
								<li>Health Plan stability</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">About Us</h3>
				</div>

				<div class="panel-body">
					<b>Who We Are</b><br />
					<p>Ecommerce is powerful Collaborative platform for Photo
						Studio users!</p>
					<b>What We Are</b><br />
					<p>Ecommerce is powerful Collaborative platform for Photo
						Studio users!</p>
				</div>
			</div>
		</div>
	</div>
</div>
