<div class="container">
	<div class="col-sm-6 col-md-4 col-md-offset-4">
		<fieldset>
			<div class="panel panel-default">
				<div class="panel-heading">User Registration</div>
				<br />
				<div class="panel-body" ng-form="registerform">
					<div class="form-group">
						<label for="firstName">First Name*</label> <input type="text"
							class="form-control" id="firstName" name="fname"
							ng-model="registerVO.firstName" placeholder="Enter First Name"
							required> 
							<span ng-show="registerform.fname.$error.required">This
							is required.</span>
					</div>
					<br />
					<div class="form-group">
						<label for="emailId">Email*</label> <input type="email" name="formemail"
							class="form-control" id="emailId" ng-model="registerVO.emailId"
							placeholder="Enter Email Id" required>
							<span ng-show="registerform.formemail.$error.required">Email is required</span>
							<span ng-show="registerform.formemail.$error.email">Enter a valid email</span>
					</div>
					<br />
					<div class="form-group">
						<label for="contact">Contact Number*</label> <input type="number" name="cnumber"
							class="form-control" id="contact" ng-model="registerVO.contact"
							placeholder="Enter Contact Number" required>
							<span ng-show="registerform.cnumber.$error.required">This
							is required.</span>
							<span ng-show="registerform.cnumber.$error.number">Enter a valid number.</span>
					</div>
					<br /> <br /> <button class="btn btn-success" ng-disabled="registerform.$invalid"
						ng-click="registerUser(registerVO)" title="Click to Signup">SignUp</button>
				</div>
			</div>
		</fieldset>
	</div>
</div>
