<!DOCTYPE html>
<html data-ng-app="">
<head>
<meta charset="UTF-8">
<title>Testing the App</title>
</head>
<body data-ng-init="names=['John Doe', 'John Parry']">
<br/>
<input type="text" ng-model="name" />{{name}}
<br/>

<h3>Repeat the names as in the list</h3>
<ul>
<li data-ng-repeat="personNames in names">{{ personNames }}</li>
</ul>
<script src="../../../bower_components/angularjs/angular.min.js"></script>

</body>
</html>