<div class="container">
	<div class="row">
		<div class="col-md-10">
			<div class="xs-margin"></div>
			<table class="table table-borderd">
				<thead>
					<tr>
						<th class="table-title">SN</th>
						<th class="table-title al">Product Name</th>
						<th class="table-title al">Product Category</th>
						<th class="table-title">Quantity Available</th>
						<th class="table-title al">Price</th>
						<th class="table-title al">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="product in products">
						<td>{{$index+1}}</td>
						<td class="al">{{product.productName}}</td>
						<td class="al">{{product.category}}</td>
						<td class="al">{{product.availableQuantity}}</td>
						<td class="al">{{product.price}}</td>
						<td class="al"><i class="fa fa-trash-o" ng-click="deleteProduct(product.id)"></i></td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
